.frc-tree {
  //height: 100%;
  //width: 100%;
  overflow: auto;
  color: #000000;
  position: relative;
  &-node {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
  }
  &-checkbox {
    & > .frc-checkbox-title {
      flex: 1;
      padding-left: 3px;
      padding-right: 3px;
      border-radius: 2px;
      height: 100%;
      line-height: 24px;
      &:hover {
        color: #ffffff;
        background: #172422;
      }
    }
  }
}
